
body {
    margin: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.flex-container-v {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.no-selection {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#main-container {
    height: calc(100vh - 10px);
}

#sidebar, #content-outer {
    float: left;
    height: 100%;
}

#content-outer {
    width: calc(100% - 200px);
}

#sidebar {
    width: 200px;
    background: #eee;
}

#main-container::after {
    content: "";
    clear: both;
}

#bottombar {
    height: 60px;
    transform: translate(0, 0);
    transition: transform .3s;
    background: #ddd;
    box-shadow: 0 -0px 3px #999;
}

#bottombar.show {
    transform: translate(0, -50px);
}

#progressbar {
    position: absolute;
    width: 100%;
    height: 10px;
    background: #9a0007;
    transition: width .3s, transform .3s;
    cursor: pointer;
}

#progressbar-fill {
    width: 13%;
    height: 100%;
    background: #ff6659;
}

#bottombar.show #progressbar {
    width: calc(100% - 100px);
    transform: translate(50px, 10px);
}

#progress-outer {
    position: absolute;
    top: 9px;
    height: 12px;
    width: 100%;
}

#progressbar-label-cur, #progressbar-label-total {
    width: 40px;
    margin: 0 10px;
    text-align: center;
    font-size: 12px;
    line-height: 1em;
    transition: transform .3s;
}

#progressbar-label-cur {
    float: left;
    transform: translate(-50px, 0);
}

#progressbar-label-total {
    float: right;
    transform: translate(50px, 0);
}

.show #progressbar-label-cur, .show #progressbar-label-total {
    transform: translate(0, 0);
}

#bottombar-btns {
    position: absolute;
    left: 10px;
    bottom: 10px;
}