* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.flexbox-v {
    display: flex;
    flex-direction: column;
}

.flexbox-h {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.no-selection {
    cursor: default;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#main-container {
    height: calc(100vh - 15px);
    position: relative;
}

.bottompinned #main-container {
    height: calc(100vh - 60px);
}

#sidebar, #content-outer {
    float: left;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

#content-outer {
    width: calc(100% - 200px);
}

#sidebar {
    width: 200px;
    background: #f8f8f8;
    border-right: 1px solid #ccc;
    padding: 10px 0;
}

.tracklist {
    padding: 10px 0;
}

/* listview item */

.item {
    padding: 10px;
    /* background: #ddd; */
    animation: showing .3s;
}

.clickable, .item {
    cursor: pointer;
    transition: transform .3s;
}

.item:hover, .dragover {
    background: #eee;
}

.dragover-placeholder {
    /* border-top: 2px solid gray; */
    position: absolute;
    transform: translate(0, -1px);
    height: 2px;
    width: 100%;
    background: gray;
    z-index: 100;
}

.clickable:active, .item:active {
    transition: transform .07s;
    transform: scale(.97);
}

.item.active {
    background: #ddd;
}

.section-header {
    display: flex;
    color: gray;
    padding: 10px;
    font-size: 85%;
}

.section-title {
    flex: 1;
}

.section-action {
    cursor: pointer;
}

.section-action:hover {
    color: black;
}

.trackitem .pos {
    display: inline-block;
    text-align: center;
    margin-right: .5em;
    min-width: 2em;
    color: gray;
}

.trackitem .name, .trackitem .artist {
    display: inline-block;
    vertical-align: middle;
    width: calc((100% - 2.5em - 20px) * .6);
}

.trackitem .artist {
    width: calc((100% - 2.5em - 20px) * .4);
}

.trackitem .artist, #bottombar-trackinfo .artist {
    color: #888;
}

/* .trackitem .artist::before,  */

#bottombar-trackinfo .artist::before {
    content: " - ";
    color: #888;
}

#main-container::after {
    content: "";
    clear: both;
}

#bottombar {
    position: fixed;
    bottom: -45px;
    width: 100%;
    height: 60px;
    transform: translate(0, 0);
    transition: transform .3s;
    background: #ddd;
    box-shadow: 0 0px 3px #999;
}

.bottompinned #bottombar {
    box-sizing: content-box;
    box-shadow: none;
    border-top: 1px solid #ccc;
}

#bottombar.show {
    transform: translate(0, -45px);
}

#progressbar {
    position: absolute;
    width: 100%;
    height: 15px;
    background: #9a0007;
    transition: width .3s, transform .3s, border-radius .3s;
    cursor: pointer;
    overflow: hidden;
}

#progressbar-fill {
    height: 100%;
    background: #ff6659;
    transition: border-radius .3s;
}

#bottombar.show #progressbar {
    width: calc(100% - 100px);
    transform: translate(50px, 7.5px);
}

#bottombar.show #progressbar, #bottombar.show #progressbar-filxl {
    border-radius: 12.5px;
}

#progress-outer {
    position: absolute;
    top: 9px;
    height: 12px;
    width: 100%;
}

#progressbar-label-cur, #progressbar-label-total {
    width: 40px;
    margin: 0 10px;
    text-align: center;
    font-size: 12px;
    line-height: 1em;
    transition: transform .3s;
}

#progressbar-label-cur {
    float: left;
    transform: translate(-50px, 0);
}

#progressbar-label-total {
    float: right;
    transform: translate(50px, 0);
}

.show #progressbar-label-cur, .show #progressbar-label-total {
    transform: translate(0, 0);
}

#bottombar-btns {
    position: absolute;
    left: 10px;
    bottom: 8px;
    width: calc(100% - 20px);
}

#bottombar-trackinfo {
    display: block;
    margin: 0 1em;
    text-align: center;
}

.loading-indicator {
    position: relative;
    margin: .3em;
    margin-top: 3em;
    text-align: center;
    white-space: pre-wrap;
    cursor: default;
}

.loading-indicator-text {
    margin: 0 auto;
}

.loading-indicator.running .loading-indicator-inner {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}

.loading-indicator.running .loading-indicator-inner::after {
    content: "";
    height: 1px;
    margin: 0%;
    background: black;
    display: block;
    animation: fadein .5s 1s backwards;
}

.loading-indicator.running .loading-indicator-text {
    margin: 0 .5em;
    animation: fadein .3s, loading-first .3s .5s cubic-bezier(0.55, 0.055, 0.675, 0.19) reverse, loading-second .3s .8s cubic-bezier(0.55, 0.055, 0.675, 0.19), loading .25s 1.1s cubic-bezier(0.55, 0.055, 0.675, 0.19) alternate-reverse infinite;
}

.loading-indicator.error {
    color: red;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes loading-first {
    0% {
        transform: translate(0, -2em) scale(1) rotate(360deg);
    }
    100% {
        transform: translate(0, 0) scale(1) rotate(0deg);
    }
}

@keyframes loading-second {
    0% {
        transform: translate(0, -2em);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes loading {
    0% {
        transform: translate(0, -1em);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes showing {
    0% {
        opacity: .3;
        transform: translate(-20px, 0)
    }
    100% {
        opacity: 1;
        transform: translate(0, 0)
    }
}

#sidebar-login {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    padding-top: 0;
}

#sidebar-login>* {}

#login-actions {
    color: gray;
}

#login-actions :hover {
    color: black;
}

.overlay {
    background: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: fadein .3s;
}

.overlay.centerchild {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog * {
    box-sizing: border-box;
}

.dialog {
    font-size: 14px;
    position: relative;
    overflow: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 6px #666;
    animation: dialogin .3s;
}

.dialog-title, .dialog-content, .dialog-bottom {
    padding: 10px;
}

.dialog-title {
    background: #f0f0f0;
}

.dialog-content {
    padding: 5px 10px;
}

.dialog-bottom {
    padding: 5px 10px;
}

.input-label {
    font-size: 80%;
    color: gray;
    margin: 5px 0 3px 0;
}

.input-text {
    display: block;
    width: 100%;
    padding: 5px;
}

.btn {
    display: block;
    text-align: center;
    transition: all .3s;
    padding: 0 .4em;
    min-width: 3em;
    line-height: 1.5em;
    background: hsl(5, 100%, 67%);
    color: white;
    box-shadow: 0 0 3px gray;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    overflow: hidden;
}

.btn:hover {
    transition: all .05s;
    background: hsl(5, 100%, 60%);
}

.btn.btn-down, .btn:active {
    transition: all .05s;
    background: hsl(5, 100%, 40%);
    box-shadow: 0 0 1px gray;
}

.dialog .btn {
    margin: 10px 0;
}

#login-btn {
    padding: 5px;
}

.tab {
    display: inline-block;
    color: gray;
    margin: 0 5px;
}

.tab.active {
    color: black;
}

*[hidden] {
    display: none;
}

@keyframes dialogin {
    0% {
        transform: scale(.5);
    }
    100% {
        transform: scale(1);
    }
}