* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.flexbox-v {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.no-selection {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#main-container {
    height: calc(100vh - 15px);
}

.bottompinned #main-container {
    height: calc(100vh - 60px);
}

#sidebar, #content-outer {
    float: left;
    height: 100%;
    overflow-y: auto;
}

#content-outer {
    width: calc(100% - 200px);
}

#sidebar {
    width: 200px;
    background: #f8f8f8;
    border-right: 1px solid #ccc;
    padding: 10px 0;
}

.tracklist {
    padding: 10px 0;
}

.item {
    cursor: pointer;
    padding: 10px;
    /* background: #ddd; */
    transition: transform .3s;
}

.item:hover {
    background: #eee;
}

.item:active {
    transition: transform .07s;
    transform: scale(.98);
}

.item.active {
    background: #ddd;
}

.trackitem .artist, #bottombar-trackinfo .artist {
    color: #888;
}

.trackitem .artist::before, #bottombar-trackinfo .artist::before {
    content: " - ";
    color: #888;
}

#main-container::after {
    content: "";
    clear: both;
}

#bottombar {
    position: fixed;
    bottom: -45px;
    width: 100%;
    height: 60px;
    transform: translate(0, 0);
    transition: transform .3s;
    background: #ddd;
    box-shadow: 0 0px 3px #999;
}

.bottompinned #bottombar {
    box-sizing: content-box;
    box-shadow: none;
    border-top: 1px solid #ccc;
}

#bottombar.show {
    transform: translate(0, -45px);
}

#progressbar {
    position: absolute;
    width: 100%;
    height: 15px;
    background: #9a0007;
    transition: width .3s, transform .3s, border-radius .3s;
    cursor: pointer;
    overflow: hidden;
}

#progressbar-fill {
    height: 100%;
    background: #ff6659;
    transition: border-radius .3s;
}

#bottombar.show #progressbar {
    width: calc(100% - 100px);
    transform: translate(50px, 7.5px);
}

#bottombar.show #progressbar, #bottombar.show #progressbar-filxl {
    border-radius: 12.5px;
}

#progress-outer {
    position: absolute;
    top: 9px;
    height: 12px;
    width: 100%;
}

#progressbar-label-cur, #progressbar-label-total {
    width: 40px;
    margin: 0 10px;
    text-align: center;
    font-size: 12px;
    line-height: 1em;
    transition: transform .3s;
}

#progressbar-label-cur {
    float: left;
    transform: translate(-50px, 0);
}

#progressbar-label-total {
    float: right;
    transform: translate(50px, 0);
}

.show #progressbar-label-cur, .show #progressbar-label-total {
    transform: translate(0, 0);
}

#bottombar-btns {
    position: absolute;
    left: 10px;
    bottom: 8px;
    width: calc(100% - 20px);
}

#bottombar-trackinfo {
    display: inline;
    /* position: absolute;
    right: 10px;
    bottom: 10px; */
}